/*
 * Device Tree overlay for MKS TFT35 V1.0 - 3.5inch IPS LCD
 * Driver LCD - ilitek ili9488
 * Driver touchscreen - ads7846 (xpt2046)
 * info: http://hardlock.org.ua/TFT35
 * uncomment this line in /boot/config.txt
 * "dtparam=spi=on"
 * this option will enable SPI0
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";

			spidev@0 {
				status = "disabled";
			};

			spidev@1 {
				status = "disabled";
			};
		};
	};

	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			mkstft35_pins: mkstft35_pins {
				brcm,pins = <18 25 24 17>;
				brcm,function = <1 1 1 0>; /* out out out in */
			};
		};
	};

	fragment@2 {
		target = <&spi0>;
		__overlay__ {
			/* needed to avoid dtc warning */
			#address-cells = <1>;
			#size-cells = <0>;

			mkstft35: mkstft35@0 {
				compatible = "ilitek,ili9486";
				reg = <0>;
				pinctrl-names = "default";
				pinctrl-0 = <&mkstft35_pins>;

				spi-max-frequency = <48000000>;
				//txbuflen = <32768>;
				rotate = <90>;
				bgr;
				fps = <30>;
				buswidth = <8>;
				regwidth = <16>;
				reset-gpios = <&gpio 25 1>;
				dc-gpios = <&gpio 24 0>;
				led-gpios = <&gpio 18 0>;
				debug = <0>;

				init = <
					0x10000E0   	//Positive Gamma Control 
					//0x00 0x07 0x0C 0x05 0x13 0x09 0x36 0xAA 0x46 0x09 0x10 0x0D 0x1A 0x1E 0x0F 	//from datasheet
					0x00 0x03 0x09 0x08 0x16 0x0A 0x3F 0x78 0x4C 0x09 0x0A 0x08 0x16 0x1A 0x0F 		//from https://github.com/notro/fbtft/issues/582#issuecomment-1060819893
					
					0x10000E1 		//Negative Gamma Control
					//0x00 0x20 0x23 0x04 0x10 0x06 0x37 0x56 0x49 0x04 0x0C 0x0A 0x33 0x37 0x0F 	//from datasheet
					0x00 0x16 0x19 0x03 0x0F 0x05 0x32 0x45 0x46 0x04 0x0E 0x0D 0x35 0x37 0x0F		//from https://github.com/notro/fbtft/issues/582#issuecomment-1060819893
					
					0x10000C0  		//Power Control 1
					0x17 0x15
					
					0x10000C1  		//Power Control 2
					0x41
					
					0x10000C5  		//VCOM Control 1
					0x00 0x12 0x80
					
					0x1000036		//Memory Access Control
					0x48			// MV, BGR (landscape)
					
					0x100003A 		//INTERFACE_PIXEL_FORMAT (0x66) - 262k color
					//0x66			// 18 bit colour for SPI
					0x55  		// 16 bit colour for parallel
					
					//0x10000B0 		//Interface Mode Control 219 page. 0x80 - SDO (MOSI) pin not used.
					//0x80
					
					0x10000B1 		//Frame Rate Control
					0xA0
					
					0x10000B4 		//Display Inversion Control
					0x02
					
					0x10000B6 		//Display Function Control
					0x02 0x02 0x3B
					
					0x10000B7 		// Entry Mode Set p.233
					0x86
					
					0x10000E9 		//Set Image Function
					0x00
					
					0x10000F7 		//Adjust Control 3
					0xA9 0x51 0x2C 0x82
					
					0x1000011 		//Sleep out
					0x2000096		//delay 150
					0x1000029		//Display On
					0x2000019>;		//delay 20
				
				
			};

			mkstft35_ts: mkstft35-ts@1 {
				compatible = "ti,ads7846";
				reg = <1>;

				spi-max-frequency = <2000000>;
				interrupts = <17 2>; /* high-to-low edge triggered */
				interrupt-parent = <&gpio>;
				pendown-gpio = <&gpio 17 1>;
				ti,x-plate-ohms = /bits/ 16 <60>;
				ti,pressure-max = /bits/ 16 <255>;
			};
		};
	};
	__overrides__ {
		speed =		<&mkstft35>,"spi-max-frequency:0";
		txbuflen =	<&mkstft35>,"txbuflen:0";
		rotate =	<&mkstft35>,"rotate:0";
		fps =		<&mkstft35>,"fps:0";
		bgr =		<&mkstft35>,"bgr:0";
		debug =		<&mkstft35>,"debug:0";
		swapxy =	<&mkstft35_ts>,"ti,swap-xy?";
	};
};